body {background-color:black;font-family:arial;color:white}
h1{color:black;font-family:verdana}
.maindiv {background-color:white;font-family:arial;color:black;width: 300px;padding: 20px; border-radius: 25px;align-items:center
}
.slider{
    display: flex;
}

.box .value{ 
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}


